.leftArea-dialog{
    background-color: rgba(44, 109, 142, 0.5);
   margin-top: 12%;
}

.video-dialog{
    background-color: rgba(8, 72, 104, 0.8);
    width: 1100px;
    height: auto;
    overflow: hidden;
}