.el-table th,
.el-table tr,
.el-table td {
  background-color: transparent !important;
  color: #fff;

  &:hover {
    background-color: rgb(30, 17, 58) !important;
  }
}

.el-table,
.el-table__expanded-cell {
  background-color: transparent !important;
}

.el-select {
  background-color: transparent;
}